.container{
    background-color:  #4E5BEE;
    float: left;
    width: 40%;
    height: 100%;
    position: absolute;
}
.input-container { 
    position: relative;  
    display: flex; 
    }

 .input-gr{
    width: 45%;
    border-radius: 17px; 
    border: 1px solid white;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 7px;
    
    }

.inputs{
    background-color: #4E5BEE;
    width: 225px;
    box-shadow: 0 0 0 0;
     border: 0 none; 
     outline: 0;
      width: 225px; 
      color: white;

}
span{
    color: white;
    
}

.submit{
    
    background-color: white;
    color: #808080;
    font-weight: bold;
   
        display:block;
        border-radius: 25px;
        width: 265px;
        height: 35px;
        border: 1px solid white;
        
        margin: 0 auto;
        margin-bottom: 20px;
    
}

.logodiv{
text-align: center;
margin-top: 95px;
}

.logo{
    width: 155px;
    height: 225px;
}
.img2div{
    float: right;
    margin-right: 35px;
    margin-top: 20px;
    height: 100;
    width: 100%;
}
.img2{
    
    float: right;
    position: relative;
    width: 1000px;
    height: 611px;
    object-fit: contain;

}
body{
    margin: 0;
    background-color: #F8F8F8;
}

.center{
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;    
    text-align: center;
    text-decoration: none;
    color: white;
}
   
 